#caixa {
	width: 250px;
	height: 250px;
	padding: 8px;
	margin: 20px;
	background-color: #009670;
	/* 5 valores
	Primeiro -> movimenta em X (horizontal), tanto positivo quanto negativo
	Segundo -> movimenta em Y (vertical), tanto positivo quanto negativo
	Terceiro -> blur/borrado
	Quarto -> Spread, O Quanto essa sombra espalha
	Quinto -> Cor da sombra
	 */
	box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.5);
}

#caixa h3 {
	color:  white;
	/* Mesmo Esquema da box-shadow, Menos o Quarto valor
	Entao = 10px (X) 10px (Y) 2px (Blur) rgba(Cor) */
	text-shadow: 10px 10px 2px  rgba(0, 0, 0, 0.6);
}